html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 20%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 900;
	line-height: 30px;
	padding-left: 10px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
	border-radius:7px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.6s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 22px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
   
  background: #0EB0C6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #0EB0C6, #1FEAAC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #0EB0C6, #1FEAAC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right,#0EB0C6, #1FEAAC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #0EB0C6, #1FEAAC); /* Standard syntax */
    color: #D4F6FA;
}

.modal-body {padding: 2px 16px;


background: red; /* For browsers that do not support gradients */ 
  background: -webkit-radial-gradient(#F5FAFB, #D9F6FA, #B2F3FC); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#F5FAFB, #D9F6FA, #B2F3FC); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#F5FAFB, #D9F6FA, #B2F3FC); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#F5FAFB, #D9F6FA, #B2F3FC); /* Standard syntax */


;}

.modal-footer {
    padding: 2px 16px;
     background: #0EB0C6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #0EB0C6, #1FEAAC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #0EB0C6, #1FEAAC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right,#0EB0C6, #1FEAAC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #0EB0C6, #1FEAAC); /* Standard syntax */
    color: #707579;
}


.menu a {
    color: #0060B6;
    text-decoration: none;
	font-size: 20px;
	font-weight:bold;
}

.menu a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
	 font-size: 20px;
	 
}

#userSelection {   
  position:absolute;
  left:88px;
  top:158px;
  width:1012px;
  height:295px;
  border:1px solid #262626;
  background:#ffffcc;
}
